<footer class="footer">
    <div class="footer__container">
      <div class="footer__section"  style="flex-basis: 25%;">
        <h3 class="footer__section-title">Our Mission</h3>
        <p class="footer__section-text">Our goal is to make a meaningful impact in the world and improve the lives of those who are in need. We strive to tackle issues such as poverty, hunger, and access to education by working alongside communities to provide sustainable solutions. Through the generosity and support of our donors and volunteers, we are able to make a tangible difference in the lives of individuals and families, and create a brighter future for generations to come.</p>
      </div>
      <div class="footer__section">
        <h3 class="footer__section-title">Newsletter</h3>
        <p class="footer__section-text">Sign up for our newsletter to receive updates about our charity work.</p>
        <form class="footer__form">
          <input type="email" placeholder="Enter your email" class="footer__form-input">
          <button type="submit" class="footer__form-btn">Subscribe</button>
        </form>
      </div>
      <div class="footer__section">
        <h3 class="footer__section-title">Contact Us</h3>
        <ul class="footer__social-media">
          <li><a href="#" class="pi pi-facebook"></a></li>
          <li><a href="#" class="pi pi-twitter"></a></li>
          <li><a href="#" class="pi pi-instagram"></a></li>
        </ul>
        <p class="footer__section-text">Jardin El Menzah 2<br> Tunis, Tunisie<br> Phone: (216) 27 410 942<br> Email: info@charity.com</p>
      </div>
    </div>
  </footer>
  