<div class="menu">
  <div class="logo">
    <img  src="assets/Images/Impact.png" alt="Impact Logo" >
    <p>Impact</p>
    </div>  
    <ul >
      <li><a  href="#">Home <span class="underline"></span></a></li>
      <li><a href="#">Projects<span class="underline"></span></a></li>
      <li><a href="#">Events<span class="underline"></span></a></li>
      <li><a  href="#">About <span class="underline"></span></a></li>
      <li><a  href="#">Contact <span class="underline"></span></a></li>
      

    </ul>
</div>
  